html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #5ab55e;
  color: #070d00;
}
h1,
h2,
h3,
h4 {
  margin: 1rem 0;
  font-family: "Lora", serif;
  font-weight: 600;
  font-style: normal;
}
p {
  margin: 0.5rem 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  font-family: "Lora", serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #070d00;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #215600;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
hr {
  border: #070d00 1px solid;
}
.logo {
  max-height: 100px;
}
.icon {
  max-height: 50px;
}
.menu-toggle {
  display: none;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-nav {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  list-style: none;
  transition: 0.3s ease;
}

.header-nav li a {
  color: white;
  text-decoration: none;
}

.header-nav li a:hover {
  color: #5ab55e;
}
.menu-toggle:checked ~ .header-nav {
  max-height: 70px;
}
.hero-section {
  text-align: center;
}
.hero-section img {
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 0 auto;
}
.hero-section a {
  background-color: #215600;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 15px;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.introduction {
  text-align: center;
  color: white;
  background-color: #215600;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.introduction img {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.gallery h3 {
  color: white;
}
.gallery article {
  text-align: center;
  background-color: #215600;
  padding: 5px 40px 40px 40px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.gallery article img {
  width: 100%;
}
.gallery a {
  text-align: center;
  background-color: #215600;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 15px;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.event {
  background-color: #215600;
  color: white;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.event li,
h2,
h3,
h4 {
  margin: 5px 10px;
  padding: 10px;
}
.page-footer {
  background-color: #215600;
  color: white;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.footer-content {
  text-align: initial;
}
.page-footer a {
  color: white;
}
.page-footer li {
  list-style: none;
}
.page-footer p {
  padding: 10px;
}
.contact-hero {
  text-align: center;
  color: white;
  background-color: #215600;
  padding: 5px 40px 40px 40px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.direct-contact {
  text-align: center;
  color: white;
  background-color: #215600;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.direct-contact li {
  text-align: initial;
}
.table-form {
  text-align: center;
  color: white;
  background-color: #215600;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.table-form table {
  margin: 0 auto;
}
.contact-form {
  text-align: center;
  color: white;
  background-color: #215600;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.video-section {
  background-color: #215600;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.history-section {
  background-color: #215600;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
iframe {
  width: 100%;
}

@media (min-width: 1200px) {
  header {
    margin-bottom: 20px;
  }
  .header-nav {
    max-height: none;
    overflow: visible;
    flex-direction: row;
    gap: 20px;
    background-color: transparent;
  }
  .icon {
    display: none;
  }
  .hero-content {
    display: flex;
    align-items: center;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .event-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .direct-contact-content {
    display: flex;
    align-items: center;
  }
}
